body {
  font: 12px sans-serif;
}

path {
  stroke-width: 2px;
  stroke: white;
  fill: #fcf5eb;
  cursor: pointer;
}

path.q0-9 {
  fill: #fff5eb;
}

path.q1-9 {
  fill: #fee6ce;
}

path.q2-9 {
  fill: #fdd0a2;
}

path.q3-9 {
  fill: #fdae6b;
}

path.q4-9 {
  fill: #fd8d3c;
}

path.q5-9 {
  fill: #f16913;
}

path.q6-9 {
  fill: #d94801;
}

path.q7-9 {
  fill: #a63603;
}

path.q8-9 {
  fill: #7f2704;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}

.navbar-brand img{
  height: 30px;
}

#heatmap{
  float: left;

}

#zipinfo{
  float: left;
}